.about {
  @include page-grid;

  align-items: center;
  height: 416px;
  padding: 48px;
  background-color: #fcfaef;

  &__title {
    grid-column: 1 / -1;
    align-self: center;
    margin: 0;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -1;
    }
  }

  &__description {
    margin: 0;
    line-height: 27px;
  }
}
