.categories {
  margin-top: 96px;
  margin-bottom: 96px;

  @include content-padding-inline;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.category {
  &__link {
    display: block;
  }

  &:last-child {
    grid-column: 1 / -1;
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;

    @include hover(transform, scale(1.05));
  }

  &__view {
    display: flex;
    justify-content: center;

    @include on-desktop {
      justify-content: flex-start;
    }
  }

  &__button {
    cursor: pointer;

    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;

    font-weight: 700;
    color: $background-color;

    background-color: $primary-color;

    transition: background-color $effectDuration;

    &:hover {
      background-color: $main-text-color;
    }

    &:active {
      background-color: $pressed-color;
    }

    @include on-desktop {
      max-width: 300px;
    }
  }
}
