.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-color: #1B2129;
  color: #fff;

  &__content {
    @include contentPaddingInline;
    padding-block: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;
    filter: brightness(0) invert(1);

    @include hover(opacity, 0.7);

    @include onTablet {
      height: 24px;
    }
  }

  &__copyright {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0.6;
  }
}